### Question to ask related to data

In [16]:
import pandas as pd

df = pd.read_csv(r'Datasets\global_cars_enhanced.csv')
df

,Car_ID,Brand,Manufacture_Year,Body_Type,Fuel_Type,Transmission,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD,Manufacturing_Country,Car_Age,Price_Category,HP_per_CC,Age_Category,Efficiency_Score
0,CAR_0001,Mercedes,2006,SUV,Petrol,Manual,4089,547,17,73407,USA,20,Premium,0.1338,Old,0.35
1,CAR_0002,Nissan,2023,Coupe,Petrol,Automatic,4618,167,25,79370,USA,3,Premium,0.0362,New,0.75
2,CAR_0003,Nissan,2007,Hatchback,Diesel,Manual,1802,110,16,76549,China,19,Premium,0.0610,Old,0.30
3,CAR_0004,Nissan,2013,Coupe,Petrol,Manual,1835,373,16,48722,USA,13,Mid-Range,0.2033,Old,0.30
4,CAR_0005,Hyundai,2009,Hatchback,Hybrid,Automatic,2332,145,28,83265,UK,17,Premium,0.0622,Old,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,CAR_0296,Audi,2015,Pickup,Hybrid,Automatic,3572,137,30,74301,Germany,11,Premium,0.0384,Moderate,1.00
296,CAR_0297,Ford,2023,Hatchback,Petrol,Manual,4348,342,21,97523,USA,3,Luxury,0.0787,New,0.55
297,CAR_0298,Mercedes,2020,SUV,Electric,Automatic,3538,151,10,66351,Japan,6,Premium,0.0427,Recent,0.00
298,CAR_0299,Ford,2023,Coupe,Diesel,Manual,3954,442,10,85653,Germany,3,Premium,0.1118,New,0.00
299,CAR_0300,Kia,2023,SUV,Hybrid,Manual,2645,536,15,118185,Germany,3,Luxury,0.2026,New,0.25

#### 1. How big the data is?

In [17]:
df.shape

(300, 16)

#### 2. How does data look like?

In [19]:
# df.head() 
df.sample(5)

,Car_ID,Brand,Manufacture_Year,Body_Type,Fuel_Type,Transmission,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD,Manufacturing_Country,Car_Age,Price_Category,HP_per_CC,Age_Category,Efficiency_Score
234,CAR_0235,Nissan,2006,Hatchback,Diesel,Automatic,1458,406,24,88298,USA,20,Premium,0.2785,Old,0.70
271,CAR_0272,Honda,2013,Hatchback,Diesel,Manual,1947,211,11,40790,UK,13,Mid-Range,0.1084,Old,0.05
39,CAR_0040,Nissan,2024,Pickup,Diesel,Manual,4435,454,20,119093,Germany,2,Luxury,0.1024,New,0.50
23,CAR_0024,Tesla,2019,Coupe,Hybrid,Manual,1683,123,30,110968,South Korea,7,Luxury,0.0731,Recent,1.00
16,CAR_0017,BMW,2025,SUV,Petrol,Manual,1001,265,20,78610,China,1,Premium,0.2647,New,0.50

#### 3. What are the datatype of columns

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Car_ID                 300 non-null    object
 1   Brand                  300 non-null    object
 2   Manufacture_Year       300 non-null    int64
 3   Body_Type              300 non-null    object
 4   Fuel_Type              300 non-null    object
 5   Transmission           300 non-null    object
 6   Engine_CC              300 non-null    int64
 7   Horsepower             300 non-null    int64
 8   Mileage_km_per_l       300 non-null    int64
 9   Price_USD              300 non-null    int64
 10  Manufacturing_Country  300 non-null    object
 11  Car_Age                300 non-null    int64
 12  Price_Category         300 non-null    object
 13  HP_per_CC              300 non-null    float64
 14  Age_Category           300 non-null    object
 15  Efficiency_Score       300 non-null    float64
dtypes: float64(2), int64(6), object(8)
memory usage: 37.6+ KB

#### 4. Are there anny missing values?

In [21]:
# df.info()
df.isnull().sum()

Car_ID                   0
Brand                    0
Manufacture_Year         0
Body_Type                0
Fuel_Type                0
Transmission             0
Engine_CC                0
Horsepower               0
Mileage_km_per_l         0
Price_USD                0
Manufacturing_Country    0
Car_Age                  0
Price_Category           0
HP_per_CC                0
Age_Category             0
Efficiency_Score         0
dtype: int64

#### 5. How data is in Mathematical form?

In [22]:
df.describe()

,Manufacture_Year,Engine_CC,Horsepower,Mileage_km_per_l,Price_USD,Car_Age,HP_per_CC,Efficiency_Score
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,2015.123333,3052.880000,328.346667,19.716667,60848.823333,10.876667,0.129559,0.485833
std,5.966023,1117.937497,153.202644,6.028061,34445.525598,5.966023,0.093239,0.301403
min,2005.000000,1001.000000,70.000000,10.000000,5221.000000,1.000000,0.017800,0.000000
25%,2010.000000,2074.000000,188.250000,15.000000,29418.500000,6.000000,0.063250,0.250000
50%,2015.000000,3117.500000,329.500000,19.500000,59179.500000,11.000000,0.106850,0.475000
75%,2020.000000,3964.000000,454.750000,24.000000,89692.250000,16.000000,0.168325,0.700000
max,2025.000000,4994.000000,599.000000,30.000000,119587.000000,21.000000,0.525500,1.000000

#### 6. Are there any duplicates?

In [23]:
df.duplicated().sum()

np.int64(0)

#### 7. Is there a correlation between column?

In [ ]:
df.corr(numeric_only=True)['Mileage_km_per_l'] # give relation between the given column with other columns
# +ve for direct relationship -ve for inversely

Manufacture_Year    0.000045
Engine_CC           0.041585
Horsepower         -0.061263
Mileage_km_per_l    1.000000
Price_USD          -0.035517
Car_Age            -0.000045
HP_per_CC          -0.052095
Efficiency_Score    1.000000
Name: Mileage_km_per_l, dtype: float64